html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
strong {
  font-weight: 700;
}
body {
  background: #000;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.4;
}
a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.app {
  background-image: url('./assets/images/bg2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 100vh;
  width: 100vw;
}
.app__header {
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 24px;
  font-weight: 500;
  padding: 30px;
  text-align: center;
}
.app__logo {
  margin-bottom: 45px;
  width: 360px;
}
.app__separator {
  background-color: #fff;
  height: 2px;
  border-radius: 3px;
  margin: 15px 0;
  width: 240px;
  max-width: 70%;
}
.app__headline {
  text-transform: uppercase;
}
.app__headline--top {
  font-size: 20px;
  font-weight: 300;
  padding: 5px 0;
}
.app__headline--bottom {
  padding: 15px 0;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  /* margin: 15px 0; */
}
.app__footer {
  font-size: 16px;
  font-weight: 300;
}
.app__footer span {
  display: block;
}
img {
  height: auto;
  max-width: 100%;
}
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .app__footer span {
    display: inline;
  }
}

@media (min-width: 992px) {
  .app__separator {
    background-color: #fff;
    height: 2px;
    border-radius: 2px;
    margin: 15px 0;
    width: 480px;
    max-width: 70%;
  }
  .app__logo {
    margin-bottom: 10vh;
    max-width: 480px;
  }
  .app__headline--top {
    font-size: 24px;
    letter-spacing: 5px;
  }
  .app__headline--bottom {
    padding: 30px 0;
    font-size: 36px;
    letter-spacing: 5px;
  }
}

@media (min-width: 1200px) {
}
